#videoSource{
    width: 110px;
	height: 30px;
	border-radius: 3px;
    border-color:#3C9EBB ;
	color: #fff;
	background: #3C9EBB;
	font: 520 16px sans-serif;
}

video {
	background: #222;
	margin: 0 0 20px 0;
	--width: 100%;
	width: var(--width);
	height: calc(var(--width) * 0.75);
  }
